<div class="container">
    <h2>Leave List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Type</th>
          <th>Status</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of leaves">
          <td>{{ leave.leaveStartdate | date }}</td>
          <td>{{ leave.leaveEnddate | date }}</td>
          <td>{{ leave.leaveType }}</td>
          <td>{{ leave.leaveStatus }}</td>
          <td>{{ leave.reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  